@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/*
	mint #7FBF99 (for dark theme #A9DFBF)
	white #FAF9F8
	black #1F1F1F
*/
body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  color: #1f1f1f;
  font: 18px/30px Georgia, serif;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: #faf9f8;
  color: #1f1f1f;
  text-shadow: none;
}

::selection {
  background: #faf9f8;
  color: #1f1f1f;
  text-shadow: none;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

p {
  margin: 0 0 24px;
}

a {
  color: #7fbf99;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.header {
  /* background-color: #7FBF99;
  color: #FAF9F8; */
  position: sticky;
  top: 0;
}

.header-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.navbar {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.navbar a {
  display: block;
  padding: 8px 24px;
}

.flexi {
  display: flex;
}

.logo {
  color: #7fbf99;
  font-size: 40px;
  /* font-family: 'Raleway', cursive; */
}

.cover {
  background: #faf9f8 url("/img/background.jpg") 50% 0px no-repeat;
  height: 300px;
  margin-top: -85px;
  position: relative;
  z-index: 1;
}

.badge {
  background: #7fbf99;
  /* background: rgba(187, 56, 37, 0.9); */
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: #faf9f8;
  font-size: 54px;
  line-height: 40px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -2px;
  text-align: center;
  position: absolute;
  bottom: -10px;
  right: 150px;
}

.badge:hover,
.badge:focus {
  text-decoration: none;
}

.badge small {
  font-size: 16px;
  line-height: 16px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  font-family: Georgia, serif;
  display: block;
  padding-top: 28px;
}

.global-footer {
  /* background-color: #7FBF99; */
  color: #7fbf99;
  font-size: 14px;
  text-align: right;
  padding: 15px 10px;
}
